<html>
    <head>
        <title>{{ book.getTitle }}</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <h1>{{ book.getTitle }}</h1>
            {% if author is not empty %}
                <h5> Author(s):
                {% for name in author %}
                    {{ name.getName }},
                </h5>
                {% endfor %}
            {% endif %}
            <form action="/add_author" method="post">
                <input type="hidden" name="book_id" value="{{ book.getId }}">
                <input name="name" type="text">
                <button type="submit">Add an author</button>
            </form>
            {% if copies is not empty %}
                <h3>Here are the library's copies:</h3>
                <ul>
                    {% for copy in copies %}
                        <li>
                            <p>ID: {{ copy.getId }}
                            </p>{% if checkouts is not empty %}
                                    {% for checkout in checkouts %}
                                        {% if checkout.getCopyId == copy.getId %}
                                            <p>checkout!</p>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}

                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <h3>There are no copies available.</h3>
            {% endif %}


            <form action="/add_copy" method="post">
                <input type="hidden" name="book_id" value="{{ book.getId }}">
                <button type="submit">Add a copy</button>
            </form>


            <form action="/checkout_copy/{{ book.getId }}" method="post">
                <input name="_method" type="hidden" value="patch">
                <input type="hidden" name="book_id" value="{{ book.getId }}">
                <h4>Checkout a Copy</h2>
                <label for="copy_id">Select a copy</label>
                <select name="copy_id" type="text">
                    {% for copy in copies %}
                        <option value="{{ copy.getId }}">{{ copy.getId }}</option>

                    {% endfor %}
                </select>
                <br>
                <label for="patron_id">Select a patron</label>
                <select name="patron_id" type="text">
                    {% for patron in patrons %}
                        <option value="{{ patron.getId }}">{{ patron.getName }}</option>
                    {% endfor %}
                </select>
                <br>
                <label for="due_date">Enter new Due Date:</label>
                <input name="due_date" type="date">
                <br>
                <button type="submit">Checkout This Copy</button>
            </form>

            <a href="/">Home</a>

        </div>

    </body>
</html>
